{% if object_attributes.status == 'success' %}
{%set pipeline_status_emoji = success_emoji %}
{% elif object_attributes.status == 'running' %}
{%set pipeline_status_emoji = running_emoji %}
{% elif object_attributes.status == 'failed' %}
{%set pipeline_status_emoji = failed_emoji %}
{% endif %}

{{ pipeline_status_emoji }} Pipeline [#{{ object_attributes.id }}]({{ project.web_url }}/pipelines/{{ object_attributes.id }}) of [{{ project.path_with_namespace }}]({{ project.web_url }}) {{ object_attributes.status }}.

*By:* {{ user.name }}
{% if object_attributes.status == 'success' or object_attributes.status == 'failed' %}
*Summary:*
{% for build in builds -%}
{%- if build.status == 'success' -%}
{%set build_status_emoji = success_emoji %}
{%- elif build.status == 'failed' -%}
{%set build_status_emoji = failed_emoji %}
{%- endif -%}
[{{ build.stage }}/{{ build.name }}]({{ project.web_url }}/-/jobs/{{ build.id }}) {{ build_status_emoji }}
{% endfor -%}
{% endif -%}
