You can control me by sending these commands:

*Manage Bot*
/register - Activates sending messages to chat.
/unregister - Stop sending message.
/mute - Stop sending messages until the date.
/silent - Stop sending sound notifications until the date.

*Manage GitLab*
/geturl - Generates URL for send notification from GitLab.
/projects - Return list projects for this chat.

*Other*
/getgid - Returns ID of the group this bot is added to.
